/* 
    A regra CSS é utilizada para estilizar códigos HTML. Ou seja, usada para estilizar uma pagina web. Para utilizá-la, voce deve selecionar o elemento que quer 
    estilizar (seja pelo nome da tag html ou por algum nome que foi usado para nomear alguma tag especifica que foi criada). Depois de selecionar o que voce quer estilizar,
    está na hora de inserir as estilizações. Dentro das chaves {} voce pode inserir e alterar diversas propriedades de estilização da página web. Alterando assim seus valores 
    que vem por padrão.
*/
/* esse comando com essa pseudoclasse muda a cor do rodapé quando o mouse passar por cima dele*/
footer:hover {
    background-color: blue;
}

/* isso adicionará aspas antes e depois de uma citação*/
q::before{
    content: '"';
}
q::after{
    content: '"';
}

.caixa-animada:hover{
    animation: pulsar 1s infinite;
    background-color: blueviolet;
}

@keyframes pulsar {
    0% {
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}