body{
    display: flex;
    align-items: center;
    padding: 20px;
}
h2{
    font-weight: 600;
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.bandeira{
    width: 300px;
    height: 200px;
    border: 1px solid #cccccc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    margin-bottom: 40px;
    overflow: hidden;
}

.bandeira.franca{
    display: flex;
}

.bandeira.franca .configuracao {
    flex: 1;
}
.franca .blue{
    background-color: blue;
}
.franca .white{
    background-color: white;
}
.franca .red{
    background-color: red;
}

.bandeira.alemanha{
    display: flex;
    flex-direction: column;
}

.bandeira.alemanha .configuracao{
    flex: 1;
}
.alemanha .black{
    background-color: black;
}
.alemanha .red{
    background-color: red;
}
.alemanha .yellow{
    background-color: yellow;
}

.bandeira.japao {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;

}
.japao .circulo{
    background-color: red;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}